@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");

body {
  font-family: "Manrope", sans-serif;
}
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
@keyframes scroll-slow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-fast {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll-slow {
  animation: scroll-slow 25s linear infinite;
}

.animate-scroll-fast {
  animation: scroll-fast 15s linear infinite;
}

